body {background-color: thistle;}
h1	 {
	  color: darkmagenta;
	  font-family: garamond;
	  font-size:500%
}
h2	 {color: maroon;}
p	 {
	  color: bisque;
	  font-family: lucida console;
	  font-size:250%
}
div {
		border-style: dotted;
}		
.container {
	position: relative;
	text-align: center;
	color: white;
}
.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 12px;
}
h3	 {
	  color: darkslategrey;
	  font-family: times new roman;
	  font-size:350%
}	
a:link, a:visited {
  background-color: #40E0D0;
  color: lightgreen;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a:hover, a:active {
  background-color: red;
}